[package]
name = "invariant-types"
version = "0.1.0"
edition = "2024"

[dependencies]
chrono = { workspace = true }
hex.workspace = true
serde.workspace = true
sha2.workspace = true
thiserror.workspace = true

[dev-dependencies]
serde_json.workspace = true
